-
  var options = {
    prev_text: '<i class="fa fa-chevron-left"></i>',
    next_text: '<i class="fa fa-chevron-right"></i>',
    mid_size: 1
  }

nav#paginator
  if (!is_post())
    div.paginator-inner!= paginator(options)
  else
    div.post-paginator
      if (page.prev)
        div.article-prev.pull-left
          a(href=url_for(page.prev.path))
            i.fa.fa-chevron-left
            span.title= page.prev.title || _p("post.untitled")
      
      if (page.next)
        div.article-next.pull-right
          a(href=url_for(page.next.path))
            span.title= page.next.title || _p("post.untitled")
            i.fa.fa-chevron-right
