section#recent-posts.recent-posts
  include ../_mixins/gallery.pug

  - var postLists = theme.post_list.paginate.home ? page.posts : site.posts
  - postLists.each(function (post) {
    article(class=`${post.link ? 'post-link' : ''}`).post
      +postHeader(post)
      
      div.post-body
        if theme.post_list.cover_image.home && post.top_image
          img(src=post.top_image)
        
        if post.photos && post.photos.length
          +gallery(post)
        
        if theme.auto_excerpt && theme.auto_excerpt.enable
          - const content = strip_html(post.content)
          - var excerpt = content.substring(0, theme.auto_excerpt.length)
          - content.length > theme.auto_excerpt.length ? excerpt += '......' : ''
          div!= excerpt
        else if post.excerpt
          div.post-excerpt!= post.excerpt
        else
          div.post-excerpt!= post.content

        if !post.link
          div.post-btn
            a(href=url_for(post.path))= _p("post.read_more") + " »"
  - })
