div#reward
  div.reward-button!= _p("reward.btn_text")
  div.reward-qr-wrapper
    div.reward-qr
      span.reward-qr-alipay
        img(src=theme.reward.alipay)
        div.reward-qr-alipay-text!= _p("reward.alipay")
      span.reward-qr-wechat
        img(src=theme.reward.wechat)
        div.reward-qr-wechat-text!= _p("reward.wechat")
