section.post-list
  include ../../_mixins/post-header.pug
  include ../../_mixins/gallery.pug

  - var postLists = theme.post_list.paginate.home ? page.posts : site.posts
  - postLists.each(function (post) {
    article.post(class=`${post.link ? "post-link-title" : ""}`)
      +postHeader(post)

      div.post-body
        if theme.post_list.cover_image.home && post.top_image
          img(src=post.top_image)

        if post.photos && post.photos.length
          +gallery(post)

        - var isExcerpt = true
        if theme.auto_excerpt && theme.auto_excerpt.enable
          - const content = strip_html(post.content)
          - var excerpt = content.substring(0, theme.auto_excerpt.length)
          - content.length > theme.auto_excerpt.length ? excerpt += "......" : ""
          div!= excerpt
        else if post.excerpt
          div.post-body-excerpt!= post.excerpt
        else
          - isExcerpt = false
          div.post-body-excerpt!= post.content

        if !post.link && isExcerpt
          div.post-body-more
            a.post-body-more__a(href=url_for(post.path))= __("post.read_more") + " »"
  - })
