aside#sidebar
  div.sidebar-inner
    if is_post()
      div.sidebar-nav
        span(class=`sidebar-nav-toc ${is_post() ? 'current' : ''}`)= _p('sidebar.catalog')
        span(class=`sidebar-nav-overview ${is_post() ? '' : 'current'}`)= _p('sidebar.overview')
    
    section(class=`site-panel site-post-toc ${is_post() ? '' : 'hide'}`)
      if page.content
        div!= toc(page.content, {list_number: true})

    section(class=`site-panel site-overview ${is_post() ? 'hide' : ''}`)
      div.site-author
        img(src=theme.avatar alt="avatar").site-author-avatar
        p.site-author-description write code and love life
      if theme.social
        div.site-social
          ul
            for value, key in theme.social
              if key && value
                li
                  a(href=value target="_blank" title=`${key} - ${value}`)
                    i(class=`icon-${key}`)
      if theme.feed && (theme.feed.mail || theme.feed.rss)
        div.site-feed
          if theme.feed && theme.feed.mail
            span.site-feed-email
              a(href=theme.feed.mail title=`email - ${theme.feed.mail}`)
                i.icon-email
                span Email
                span= _p('sidebar.subscribe')
          if theme.feed && theme.feed.rss
            span.site-feed-rss
              a(href=theme.feed.rss title=`rss - theme.feed.rss`)
                i.icon-rss
                span RSS
                span= _p('sidebar.subscribe')
      if theme.menu && (theme.menu.archives || theme.menu.categories || theme.menu.tags)
        div.site-state
          if theme.menu.archives
            div.site-state-item.site-state-posts
              a(href=theme.menu.archives)
                div.site-state-item-count= site.posts.length
                div.site-state-item-name= _p('sidebar.articles')
          if theme.menu.categories
            div.site-state-item.site-state-categories
              a(href=theme.menu.categories)
                div.site-state-item-count= site.categories.length
                div.site-state-item-name= _p('sidebar.categories')
          if theme.menu.tags
            div.site-state-item.site-state-tags
              a(href=theme.menu.tags)
                div.site-state-item-count= site.tags.length
                div.site-state-item-name= _p('sidebar.tags')

    div.sidebar-progress
      div.sidebar-progress-read
        span= _p('sidebar.read_info')
        span.sidebar-progress-number
      div.sidebar-progress-line
