mixin postHeader(post)
  header.post-header
    if (is_post())
      if (post.title)
        h1.post-title= post.title
      else
        h1.post-title= _p("post.untitled")
    else
      a(href=url_for(post.canonical_path)).post-title-link
        if (post.title)
          h1.post-title= post.title
        else
          h1.post-title= _p("post.untitled")
    
    div.post-meta
      if theme.post_meta.created.enable
        span.post-meta-create
          i(class=`fa fa-${theme.post_meta.created.icon}`)

          if !theme.post_meta.icon_only
            span= _p("post.posted") + " "
          if post.date
            span= full_date(post.date, "YYYY-MM-DD")
          else
            span none
      
      if theme.post_meta.updated.enable
        span.post-meta-update
          i(class=`fa fa-${theme.post_meta.updated.icon}`)

          if !theme.post_meta.icon_only
            span= _p("post.updated") + " "
          if post.updated
            span= full_date(post.updated, "YYYY-MM-DD")
          else
            span none
      
      if theme.post_meta.word_count.enable
        span.post-meta-word-count
          i(class=`fa fa-${theme.post_meta.word_count.icon}`)

          if !theme.post_meta.icon_only
            span= _p("post.word_count") + " "
          span= wordcount(post.content)
      
      if theme.post_meta.reading_time.enable
        - var postReadingTime = theme.post_meta.reading_time
        span.post-meta-reading-time
          i(class=`fa fa-${postReadingTime.icon}`)
          
          if !theme.post_meta.icon_only
            span= _p("post.reading_time") + " "
          span= min2read(post.content, {cn: postReadingTime.speed.zh, en: postReadingTime.speed.en}) + " m"

      if theme.busuanzi.enable && theme.busuanzi.post_pv.enable
        span.post-meta-reading-count
          i(class=`fa fa-${theme.busuanzi.post_pv.icon}`)
          
          if !theme.post_meta.icon_only && !theme.busuanzi.post_pv.icon_only
            span= _p("post.reading_count") + " "
          
          span(id="busuanzi_value_page_pv")
