extends ./_common/layout.pug

block content
  if (page.title === 'tags')
    div.tag-cloud.main-content-layout
      div.tag-cloud-title= _p('page.tags') + ' - '
        span.tag-cloud-num= site.tags.length
      - var min_font = theme.tag ? theme.tag.min_font_size : 14
      - var max_font = theme.tag ? theme.tag.max_font_size : 30
      - var start_color = theme.tag ? theme.tag.start_color : '#a4d8fa'
      - var end_color = theme.tag ? theme.tag.end_color : '#1b9ef3'
      div.tag-cloud-item!= tagcloud({min_font: min_font, max_font: max_font, amount: 200, color: true, start_color, end_color})

  else if (page.title === 'categories')
    div.category.main-content
      div.category-title= _p('page.categories') + ' - '
        span.category-num= site.categories.length
      != list_categories()

  else if (page.title === 'about')
    div.about.main-content.code-highlight
      != page.content

  else
    div.about.main-content.code-highlight
      != page.content
