- var fa_prefix = theme.fa_prefix || 'fa'

div.busuanzi
  if theme.busuanzi.site_uv.enable
    span.busuanzi-site_uv
      i(class=`${fa_prefix} fa-user`)
      if !theme.busuanzi.icon_only
        span= __("footer.uv") + " "
      span#busuanzi_value_site_uv

  if theme.busuanzi.site_uv.enable && theme.busuanzi.site_pv.enable
    span.separator= "|"

  if theme.busuanzi.site_pv.enable
    span.busuanzi-site_pv
      i(class=`${fa_prefix} fa-eye`)
      if !theme.busuanzi.icon_only
        span= __("footer.pv") + " "
      span#busuanzi_value_site_pv

  include ../../_third-party/analytics/busuanzi.pug
