-
  var gitalk_js = "https://cdn.jsdelivr.net/npm/gitalk@latest/dist/gitalk.min.js"
  var gitalk_css = "https://cdn.jsdelivr.net/npm/gitalk@latest/dist/gitalk.min.css"
  var gitalk_md5 = "https://cdn.jsdelivr.net/npm/js-md5@latest/src/md5.min.js"

  if (theme.cdn.gitalk_js) gitalk_js = theme.cdn.gitalk_js
  if (theme.cdn.gitalk_css) gitalk_css = theme.cdn.gitalk_css
  if (theme.cdn.gitalk_md5) gitalk_md5 = theme.cdn.gitalk_md5

link(href=gitalk_css rel="stylesheet" type="text/css")
script(src=gitalk_js)
script(src=gitalk_md5)

-
  var lang = _.get(theme, 'gitalk.language')
    ? theme.gitalk.language : config.language;

script.
  window.addEventListener('load', function () {
    var gitalk = new Gitalk({
      id: md5('!{ page.path }'),
      clientID: '!{ theme.gitalk.client_id }',
      clientSecret: '!{ theme.gitalk.client_secret }',
      repo: '!{ theme.gitalk.repo }',
      owner: '!{ theme.gitalk.owner }',
      admin: ['!{ theme.gitalk.admin }'],
      distractionFreeMode: '!{ theme.gitalk.distraction_free_mode }',
      language: '!{ lang }'
    });
    gitalk.render('gitalk-container');
  });
