link(href="https://cdn.jsdelivr.net/npm/gitment/style/default.min.css" rel="stylesheet" type="text/css")
script(src="https://cdn.jsdelivr.net/npm/gitment/dist/gitment.browser.min.js")
script(src="https://cdn.jsdelivr.net/npm/js-md5@latest/src/md5.min.js")

script.
  function renderGitment() {
    let gitment = new Gitment({
      id: md5('!{ page.path }'),
      owner: "!{ theme.gitment.owner }",
      repo: "!{ theme.gitment.repo }",
      oauth: {
        client_id: "!{ theme.gitment.client_id }",
        client_secret: "!{ theme.gitment.client_secret }"
      }
    });
    gitment.render("gitment-container")
  }

  window.onload = function() {
    if (!{theme.gitment.lazy}) {
      function showGitment() {
        document.getElementById("gitment-button").style.display = "none";
        document.getElementById("gitment-container").style.display = "block";
        renderGitment();
      }
    } else {
      renderGitment();
    }
  };
