-
  var gitment_js = "https://cdn.jsdelivr.net/npm/gitment/dist/gitment.browser.min.js"
  var gitment_css = "https://cdn.jsdelivr.net/npm/gitment/style/default.min.css"
  var gitment_md5 = "https://cdn.jsdelivr.net/npm/js-md5@latest/src/md5.min.js"

  if (theme.cdn.gitment_js) gitment_js = theme.cdn.gitment_js
  if (theme.cdn.gitment_css) gitment_css = theme.cdn.gitment_css
  if (theme.cdn.gitment_md5) gitment_md5 = theme.cdn.gitment_md5

link(href=gitment_css rel="stylesheet" type="text/css")
script(src=gitment_js)
script(src=gitment_md5)

script.
  function renderGitment() {
    var gitment = new Gitment({
      id: md5('!{ page.path }'),
      owner: "!{ theme.gitment.owner }",
      repo: "!{ theme.gitment.repo }",
      oauth: {
        client_id: "!{ theme.gitment.client_id }",
        client_secret: "!{ theme.gitment.client_secret }"
      }
    });
    gitment.render("gitment-container")
  }

  window.addEventListener('load', function () {
    if (!{theme.gitment.lazy}) {
      function showGitment() {
        document.getElementById("gitment-button").style.display = "none";
        document.getElementById("gitment-container").style.display = "block";
        renderGitment();
      }

      document.getElementById('gitment-button').onclick = function () {
        showGitment();
      };
    } else {
      renderGitment();
    }
  });
