-
  var waline_js = 'https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.js';
  var waline_css = 'https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.css'

  if (theme.cdn.waline_js) {
    waline_js = theme.cdn.waline_js;
  }

  if (theme.cdn.waline_css) {
    waline_css = theme.cdn.waline_css;
  }

script(src=waline_js)
link(rel="stylesheet" href=waline_css type="text/css")

script&attributes(dataPjax).
  function loadWaline () {
    var META = ['nick', 'mail', 'link'];
    var need_meta = '!{ theme.waline.meta }';
    var require_meta = '!{theme.waline.requiredMeta}';
    var emojiURL = '!{theme.waline.emoji}';

    need_meta = need_meta.split(',').filter(function(item) {
      return META.indexOf(item) > -1;
    });

    require_meta = require_meta.split(',').filter(function(item) {
      return META.indexOf(item) > -1;
    });

    emojiURL = emojiURL.split(',');

    Waline.init({
      el: location.pathname === '/' ? null : '#waline-container',
      serverURL: '!{theme.waline.serverURL}',
      pageview: location.hostname!=='localhost' && !{theme.waline.pageview} ,
      emoji: emojiURL,
      wordLimit: !{theme.waline.wordLimit},
      path: location.pathname,
      meta: need_meta,
      pageSize: '!{theme.waline.pageSize}' || 10,
      lang: '!{theme.waline.lang}' || 'zh-cn',
      requiredMeta: require_meta,
      dark: '!{theme.waline.dark}',
      locale: {
        admin: '!{theme.waline.locale.admin}',
        placeholder: '!{theme.waline.locale.placeholder}'
      },
      reaction: !{theme.waline.reaction},
      imageUploader: function(file) {
        let formData = new FormData();
        let headers = new Headers();

        formData.append('file', file);
        headers.append('Authorization', '!{theme.waline.imageUploader.token}');
        headers.append('Accept', 'application/json');

        return fetch('!{theme.waline.imageUploader.url}', {
          method: 'POST',
          headers: headers,
          body: formData
        }).then(resp => resp.json()).then(resp => resp.data.links.url);
      }
    });
  }

  if (!{ pjax }) {
    loadWaline();
  } else {
    window.addEventListener('DOMContentLoaded', loadWaline, false);
  }
