-
  var waline_js = 'https://unpkg.zhimg.com/@waline/client/dist/Waline.min.js';

  if (theme.cdn.waline) {
    waline_js = theme.cdn.waline;
  }

script(src=waline_js)

script&attributes(dataPjax).
  function loadWaline () {
    var META = ['nick', 'mail', 'link'];
    var need_meta = '!{ theme.waline.meta }';
    var require_meta = '!{theme.waline.requiredMeta}';
    var emojiURL = '!{theme.waline.emoji}';

    need_meta = need_meta.split(',').filter(function(item) {
      return META.indexOf(item) > -1;
    });

    require_meta = require_meta.split(',').filter(function(item) {
      return META.indexOf(item) > -1;
    });

    emojiURL = emojiURL.split(',');

    new Waline({
      el: '#waline-container',
      serverURL: '!{theme.waline.serverURL}',
      visitor: location.hostname!=='localhost' && !{theme.waline.visitor} ,
      emoji: emojiURL,
      wordLimit: !{theme.waline.wordLimit},
      path: location.pathname,
      avatar: '!{theme.waline.avatar}',
      meta: need_meta,
      pageSize: '!{theme.waline.pageSize}' || 10,
      lang: '!{theme.waline.lang}' || 'zh-cn',
      requiredMeta: require_meta,
      locale: {
        admin: '!{theme.waline.locale.admin}',
        placeholder: '!{theme.waline.locale.placeholder}'
      },
      uploadImage: function(file) {
        const formData = new FormData();
        formData.append('image', file);
        
        return fetch('!{theme.waline.uploadImage.url}', {
          method: 'POST',
          headers: {
            'token': '!{theme.waline.uploadImage.token}'
          },
          body: formData
        }).then(resp => resp.json()).then(resp => resp.data.url);
      }
    });
  }

  if (!{ pjax }) {
    loadWaline();
  } else {
    window.addEventListener('DOMContentLoaded', loadWaline, false);
  }

  window.addEventListener('load', () => {
    Waline.Widget.RecentComments({
      serverURL: '!{theme.waline.serverURL}',
      count: 3,
    }).then(({ comments }) => {
      document.getElementById('newest-comments-list').innerHTML = comments.map(
        (comment) => `<div class="newest-item"><a href="${comment.url}" class="newest-item-avatar"><img src="https://sdn.geekzu.org/avatar/${comment.mail}?s=70" /></a><div class="newest-item-content"><span class="newest-item-content-comment">${comment.comment}</span><div class="newest-item-content-info"><span><a href=${comment.link ? comment.link : '/'}>${comment.nick}</a> / ${comment.insertedAt.substring(0, 10)}</span></div></div></div>`
      ).join('');
    });
  });