-
  var waline_js = 'https://cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js';

  if (theme.cdn.waline) {
    waline_js = theme.cdn.waline;
  }

script(src=waline_js)

script&attributes(dataPjax).
  function loadWaline () {
    var META = ['nick', 'mail', 'link'];
    var need_meta = '!{ theme.waline.meta }';
    var require_meta = '!{theme.waline.requiredMeta}';
    var emojiURL = '!{theme.waline.emoji}';

    need_meta = need_meta.split(',').filter(function(item) {
      return META.indexOf(item) > -1;
    });

    require_meta = require_meta.split(',').filter(function(item) {
      return META.indexOf(item) > -1;
    });

    emojiURL = emojiURL.split(',');

    new Waline({
      el: '#waline-container',
      serverURL: '!{theme.waline.serverURL}',
      visitor: location.hostname!=='localhost' && !{theme.waline.visitor} ,
      emoji: emojiURL,
      wordLimit: !{theme.waline.wordLimit},
      path: location.pathname,
      avatar: '!{theme.waline.avatar}',
      meta: need_meta,
      pageSize: '!{theme.waline.pageSize}' || 10,
      lang: '!{theme.waline.lang}' || 'zh-cn',
      requiredMeta: require_meta,
      dark: '!{theme.waline.dark}',
      locale: {
        admin: '!{theme.waline.locale.admin}',
        placeholder: '!{theme.waline.locale.placeholder}'
      },
      uploadImage: function(file) {
        const formData = new FormData();
        formData.append('image', file);
        
        return fetch('!{theme.waline.uploadImage.url}', {
          method: 'POST',
          headers: {
            'token': '!{theme.waline.uploadImage.token}'
          },
          body: formData
        }).then(resp => resp.json()).then(resp => resp.data.url);
      }
    });
  }

  if (!{ pjax }) {
    loadWaline();
  } else {
    window.addEventListener('DOMContentLoaded', loadWaline, false);
  }
