-
  var algolia = "undefined";
  var env = process.env;
  if (theme.algolia_search.enable) {
    algolia = JSON.stringify({
      appId: env.ALGOLIA_APP_ID || config.algolia.appId || config.algolia.applicationID,
      apiKey: env.ALGOLIA_API_KEY || config.algolia.apiKey,
      indexName: env.ALGOLIA_INDEX_NAME || config.algolia.indexName,
      hits: theme.algolia_search.hits,
      languages: {
        input_placeholder: __("algolia_search.input_placeholder"),
        hits_empty: __("algolia_search.hits_empty"),
        hits_stats: __("algolia_search.hits_stats")
      }
    });
  } 

  var fontawesome = "undefined";
  if (theme.fa_prefix) {
    fontawesome = JSON.stringify({
      prefix: theme.fa_prefix
    });
  }

  var sidebar = "undefined";
  if (theme.sidebar.enable) {
    sidebar = JSON.stringify({
      offsetTop: theme.sidebar.offsetTop,
      renderTocDepth: theme.toc.max_depth
    });
  }

  var back2top = "undefined";
  if (theme.back2top.enable) {
    back2top = JSON.stringify({
      enable: theme.back2top.enable,
      animation: theme.back2top.icon.animation
    });
  }

  var header = "undefined";
  if (theme.header) {
    header = JSON.stringify({
      scrollDownIcon: theme.header.scroll_down_icon.enable,
    });
  }

  var gallery_waterfall = "undefined";
  if (theme.gallery_waterfall.enable) {
    gallery_waterfall = JSON.stringify(theme.gallery_waterfall);
  }

  var lazyload = "undefined";
  if (theme.lazyload.enable) {
    lazyload = JSON.stringify(theme.lazyload);
  }

  var zoom_image = "undefined";
  if (theme.zoom_image.enable) {
    zoom_image = JSON.stringify(theme.zoom_image);
  }

  var pjax_config = "undefined";
  if (theme.pjax.enable) {
    pjax_config = JSON.stringify({
      scrollTo2screen: theme.pjax.scrollTo2screen
    });
  }

  var external_link = "undefined";
  if (theme.external_link.icon.enable) {
    external_link = JSON.stringify({
      icon: {
        enable: theme.external_link.icon.enable,
        name: theme.external_link.icon.name
      }
    });
  }

  var shortcuts = JSON.stringify({
    switch_post: theme.shortcuts.switch_post.enable
  });

  var prompt = JSON.stringify({
    copy_success: __("prompt.copy.success"),
    copy_error: __("prompt.copy.error"),
    creative_commons: __("prompt.creative_commons"),
    copy_button: __("prompt.copy_button")
  });

script.
  var Stun = window.Stun || {};
  var CONFIG = {
    root: '!{ config.root }',
    algolia: !{ algolia },
    fontawesome: !{ fontawesome },
    sidebar: !{ sidebar },
    header: !{ header },
    back2top: !{ back2top },
    reward: !{ theme.reward.enable },
    fancybox: !{ theme.fancybox },
    zoom_image: !{ zoom_image },
    gallery_waterfall: !{ gallery_waterfall },
    lazyload: !{ lazyload },
    pjax: !{ pjax_config },
    external_link: !{ external_link },
    shortcuts: !{ shortcuts },
    prompt: !{ prompt }
  };

  window.CONFIG = CONFIG;
