nav.paginator
  if !is_post()
    - var prevText = `<i class="${faPrefix} fa-chevron-left"></i>`;
    - var nextText = `<i class="${faPrefix} fa-chevron-right"></i>`;
    div.paginator-inner
      != paginator({ prev_text: prevText, next_text: nextText, mid_size: 1, escape: false })
  else
    div.paginator-post
      if page.prev
        div.paginator-post-prev
          a(href=url_for(page.prev.path))
            i(class=`${faPrefix} fa-chevron-left`)
            span= page.prev.title || __("post.untitled")
      if page.next
        div.paginator-post-next
          a(href=url_for(page.next.path))
            span= page.next.title || __("post.untitled")
            i(class=`${faPrefix} fa-chevron-right`)
