div.reward
  div.reward-button!= __("reward.btn_text")
  div.reward-qr
    span.reward-qr-alipay
      img.reward-qr-alipay__img(src=theme.reward.alipay)
      div.reward-qr-alipay-text!= __("reward.alipay")
    span.reward-qr-wechat
      img.reward-qr-wechat__img(src=theme.reward.wechat)
      div.reward-qr-wechat-text!= __("reward.wechat")
