-
  var algolia = 'undefined';
  var env = process.env;

  if (theme.algolia_search.enable) {
    algolia = JSON.stringify({
      appId: env.ALGOLIA_APP_ID || config.algolia.appId || config.algolia.applicationID,
      apiKey: env.ALGOLIA_API_KEY || config.algolia.apiKey,
      indexName: env.ALGOLIA_INDEX_NAME || config.algolia.indexName,
      hits: theme.algolia_search.hits,
      languages: {
        input_placeholder: _p("algolia_search.input_placeholder"),
        hits_empty: _p("algolia_search.hits_empty"),
        hits_stats: _p("algolia_search.hits_stats")
      }
    })
  } 

script.
  var Stun = window.Stun || {};
  var CONFIG = {
    root: '!{ config.root }',
    algolia: !{algolia},
    notification: {
      copy_success: '!{ _p("notification.copy.success") }',
      copy_error: '!{ _p("notification.copy.error") }'
    },
    shortcuts: {
      switch_post: !{ theme.shortcuts.switch_post.enable }
    },
    sidebar: {
      offsetTop: '!{ theme.sidebar.offsetTop }'
    },
    external_link: {
      icon: !{ theme.external_link.icon.enable },
      icon_name: '!{ theme.external_link.icon.name }'
    },
    back2top: !{ theme.back2top.enable },
    back2top_animation: !{ theme.back2top.icon.animation },
    reward: !{ theme.reward.enable }
  };

  window.CONFIG = CONFIG;
