footer#footer
  -
    var footer = theme.footer
    var nowYear = new Date().getFullYear()
    var startYear = footer.copyright.enable ? footer.copyright.since || nowYear : nowYear
    var endYear = footer.copyright.enable ? footer.copyright.end || nowYear : nowYear

  div.footer-inner
    if footer.copyright.enable || footer.beian.enable
      div
        if footer.copyright.enable
          span!= `&copy; ${startYear}` + (startYear != endYear ? `-${endYear}` : "")

          if footer.icon.enable
            span(
              class=`fa fa-${footer.icon.name} ${footer.icon.animation ? "heart-beat" : ""}`
              style=`color: ${footer.icon.color}`
            ).footer-separator
          else
            span= " "
          
          span= footer.copyright.text || config.author + "."

        if footer.copyright.enable && footer.beian.enable
          span.footer-separator= "|"
    
        if footer.beian.enable
          span!= footer.beian.icp

    if footer.powered.enable || footer.theme.enable
      div
        if footer.powered.enable
          span.footer-powered
            - var HEXO_URL = "http://hexo.io/";
            != _p("footer.powered", link_to(HEXO_URL, "hexo", { external: true }))
          
          if footer.powered.version
            span= " v" + hexo_env("version") + "."
        
        if footer.powered.enable && footer.theme.enable
          span.footer-separator= "|"

        if footer.theme.enable
          span= _p("footer.theme") + " - "
            - var STUN_URL = "https://github.com/liuyib/hexo-theme-stun/";
            != link_to(STUN_URL, "stun", { external: true })
        
          if footer.theme.version
            span= " v" + stun_env("version") + "."
    
    if theme.busuanzi.enable
      include ../_components/analytics/busuanzi.pug

    if footer.custom.enable
      div
        span!= footer.custom.text
