header#header(
  style=`background-image: url(${
    page.top_image ? page.top_image :
      theme.header.bg_image.enable ?
        theme.header.bg_image.url : " "
  })`
)
  nav.header-nav.slider-up
    div.header-nav-inner
      div.fa.fa-bars.header-nav-menu-icon

      if theme.algolia_search.enable || theme.local_search.enable
        div.header-nav-search
          if !theme.menu_settings.text_only
            i.fa.fa-search
          if !theme.menu_settings.icon_only
            span!= _p("nav.search")

      div.header-nav-menu
        each value, name in (theme.menu || [])
          if name && value
            - var menuItem = value.split('||')
            - var menuItemPath = _.trim(_.get(menuItem, '[0]'))
            - var menuItemIcon = _.trim(_.get(menuItem, '[1]'))
            span
              a(href=menuItemPath ? menuItemPath : "/")
                if !theme.menu_settings.text_only
                  i(class=`fa fa-${menuItemIcon ?
                    menuItemIcon : "question-circle-o"}`)
                if !theme.menu_settings.icon_only
                  != _p(`nav.${name}`)

  div.header-info
    div.header-info-inner
      div.header-info-title= config.title
      div.header-info-subtitle= config.subtitle
