aside#sidebar
  div.sidebar-inner
    - var isShowPostToc = page.toc === false ? page.toc : (theme.toc.enable && is_post())
    if isShowPostToc
      div.sidebar-nav
        span.sidebar-nav-toc.current= _p("sidebar.catalog")
        span.sidebar-nav-overview= _p("sidebar.overview")
    
    section(class=`${isShowPostToc ? "" : "hide"}`).sidebar-toc
      if page.content
        - var tocMaxDepth = page.toc_max_depth || theme.toc.max_depth || 6
        div!= toc(page.content, {list_number: theme.toc.number, max_depth: tocMaxDepth})

    section(class=`${isShowPostToc ? "hide" : ""}`).sidebar-overview
      if theme.author.enable
        div.sidebar-author
          if theme.author.avatar.url
            img(src=theme.author.avatar.url alt="avatar").sidebar-author-avatar

          if theme.author.motto
            p.sidebar-author-motto= theme.author.motto

      if theme.social_setting.enable
        div.sidebar-social
          for value, name in (theme.social || [])
            if name && value
              - var socialItem = value.split('||')
              - var socialLinkPath = _.trim(_.get(socialItem, '[0]'))
              - var socialLinkIcon = _.trim(_.get(socialItem, '[1]'))
              span.sidebar-social-item
                a(href=socialLinkPath target="_blank" rel="noopener"
                    data-popover=_p(`social.${name}`) data-popover-pos=`${
                      theme.social_setting.icon_only ? 'up' : 'none'}`)

                  if socialLinkIcon && socialLinkIcon.match("origin:")
                    span!= socialLinkIcon.split("origin:")[1]
                  else
                    i(class=`fa fa-${socialLinkIcon ?
                        socialLinkIcon : "question-circle-o"}`)
                  
                  if !theme.social_setting.icon_only
                    span= name
      
      if theme.feed.enable
        div.sidebar-feed
          - var feedEmail = theme.feed.email
          if feedEmail
            span.sidebar-feed-email
              a(href=feedEmail target="_blank" rel="noopener")
                i.fa.fa-envelope.sidebar-feed-icon
                span= "Email "
                span= _p("sidebar.subscribe")
          
          - var feedRSS = theme.feed.rss
          if feedRSS
            span.sidebar-feed-rss
              a(href=url_for(feedRSS) target="_blank" rel="noopener")
                i.fa.fa-rss.sidebar-feed-icon
                span= "RSS "
                span= _p("sidebar.subscribe")
      
      if theme.menu
        - var menuArchives   = _.trim(_.get(theme.menu.archives.split('||'), '[0]'))
        - var menuCategories = _.trim(_.get(theme.menu.categories.split('||'), '[0]'))
        - var menuTags       = _.trim(_.get(theme.menu.tags.split('||'), '[0]'))
        div.sidebar-state
          if theme.menu.archives
            span.sidebar-state-item.sidebar-state-posts
              a(href=menuArchives)
                div.sidebar-state-item-count= site.posts.length
                div.sidebar-state-item-name= _p("sidebar.archives")
          if theme.menu.categories
            span.sidebar-state-item.sidebar-state-categories
              a(href=menuCategories)
                div.sidebar-state-item-count= site.categories.length
                div.sidebar-state-item-name= _p("sidebar.categories")
          if theme.menu.tags
            span.sidebar-state-item.sidebar-state-tags
              a(href=menuTags)
                div.sidebar-state-item-count= site.tags.length
                div.sidebar-state-item-name= _p("sidebar.tags")
      
      if theme.creative_commons.enable && theme.creative_commons.sidebar
        - var themeCC = theme.creative_commons
        - var ccLicense = themeCC.license && themeCC.license.toLowerCase()
        - var ccLanguage = (themeCC.language && themeCC.language.toLowerCase()) || "en"
        - var ccURL = `https://creativecommons.org/licenses/${ccLicense}/4.0/deed.${ccLanguage}`
        div.sidebar-cc
          a(href=ccURL target="_blank" rel="noopener"
              data-popover="Creative Commons" data-popover-pos="up")
            img(src=url_for(`/${theme.images}/cc-${ccLicense}.svg`) alt="creative commons")

    if theme.reading_progress.enable && is_post()
      div.sidebar-progress
        div.sidebar-progress-read
          span= _p("sidebar.read_info")
          span.sidebar-progress-number
        div.sidebar-progress-line
