footer#stun-footer.stun-footer
  - var date = new Date()
  - var nowYear = date.getFullYear()
  - var copyRight = theme.site_copyright
  - var startYear = copyRight.start || nowYear
  - var endYear = copyRight.end || nowYear

  .footer-inner
    p
      span!= _p('footer.powered', link_to('http://hexo.io', 'hexo', {external: true}))
      span.footer-separator |
      span= _p('footer.theme') + ' '
      span!= link_to('https://github.com/liuyib/hexo-theme-stun', 'stun', {external: true})
      span= ' v' + version() + '.'

    p
      if copyRight.enable
        span!= `&copy; ${startYear}` + (startYear != endYear ? `-${endYear}` : '')
        span.footer-heart= '❤'
        span= config.author + '. '
      if theme.ICP.enable
        span= theme.ICP.text

    //- enable busuanzi to show PV / UV
    if theme.busuanzi.enable
      include ./count/busuanzi.pug
