footer#footer
  - var date = new Date()
  - var nowYear = date.getFullYear()
  - var copyRight = theme.site_copyright
  - var startYear = copyRight ? copyRight.start || nowYear : nowYear
  - var endYear = copyRight ? copyRight.end || nowYear : nowYear

  .footer-inner
    p
      span.footer-powered
        != _p('footer.powered', link_to('http://hexo.io', 'hexo', {external: true}))
      span.footer-separator |
      span= _p('footer.theme') + ' '
      span
        a(href='https://github.com/liuyib/hexo-theme-stun' target='_blank') stun
      span= ' v' + version() + '.'

    p
      if copyRight && copyRight.enable
        span!= `&copy; ${startYear}` + (startYear != endYear ? `-${endYear}` : '')
        span.footer-heart= '❤'
        span= config.author + '. '
    
    p
      if theme.footer_custom_text
        span!= theme.footer_custom_text

    //- enable busuanzi to show PV / UV
    if theme.busuanzi && theme.busuanzi.enable
      include ./count/busuanzi.pug
