header#header
  nav#header-nav.nav-slider
    div.header-nav-inner
      div.header-nav-menu
        i.menu-icon
        ul.header-nav-menu-inner
          if theme.menu
            each url, label in theme.menu
              if url
                li
                  a(href=url)
                    if (theme.header_menu_icon_show)
                      i(class=`header-nav-menu-icon icon-${label}`)
                    != _p(`nav.${label}`)
      div.header-nav-search
        span!= _p('nav.search')
    
  div#header-info
    div.header-info-inner
      div.site-info-title= config.title
      div.site-info-subtitle= config.subtitle
