-
  var footer = theme.footer;
  var nowYear = new Date().getFullYear();
  var startYear = footer.copyright.since || nowYear;
  var endYear = footer.copyright.end || nowYear;
  var fa_prefix = theme.fa_prefix || 'fa';

- var footerCopyright = footer.copyright.enable
- var footerBeian = footer.beian.enable

if footerCopyright || footerBeian
  div
    if footerCopyright
      span!= `&copy; ${startYear}` + ((startYear != endYear) ? `~${endYear}` : "")
      if footer.icon.enable
        span(class=`${fa_prefix} fa-${footer.icon.name} footer-icon`)
      else
        span= " "
      span= footer.copyright.text || config.author + "."
    if footerCopyright && footerBeian
      span= " | "
    if footerBeian
      span!= footer.beian.icp

- var footerPowered = footer.powered.enable
- var footerTheme = footer.theme.enable

if footerPowered || footerTheme
  div
    if footerPowered
      span
        - var HEXO_URL = "http://hexo.io/";
        != _p("footer.powered", link_to(HEXO_URL, "hexo", { external: true }))
      if footer.powered.version
        span= " v" + hexo_env("version") + "."
    if footerPowered && footerTheme
      span.separator= "|"
    if footerTheme
      span= __("footer.theme") + " - "
        - var STUN_URL = "https://github.com/liuyib/hexo-theme-stun/";
        != link_to(STUN_URL, "stun", { external: true })
      if footer.theme.version
        span= " v" + stun_env("version") + "."

if theme.busuanzi && theme.busuanzi.enable
  include ../analytics/busuanzi.pug

if footer.custom.enable
  div
    span!= footer.custom.text
